<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Crear evento </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crear_evento.css') }}">
</head>

<body>
    <main class="box">
        <div class="row">
            <h2> Crear evento </h2>
            <div class="botones">
                <div>
                    <button class="btn primario"> Mi perfil </button>
                </div>
                <div>
                    <button class="btn secundario"> Logout </button>
                </div>
            </div>
        </div>
        <div class="contenido_evento">
            <form action="/crear/evento" method="POST">
                <div class="contenido5">
                    <label for="tipo"> Tipo de evento:</label>
                    <select name="tipo" id="tipo">
                        <option> Deportes </option>
                        <option> VideoJuegos </option>
                    </select>
                </div>
                <div class="contenido5">
                    <label for="categorias">Categoria:</label>
                    <select name="categorias" id="categorias">
                    </select>
                </div>
                <div class="contenido1">
                    <label for="nombre_evento"> Nombre del evento: </label>
                    <input type="text" name="nombre_evento" id="nombre_evento">
                </div>
                <div class="contenido2">
                    <label for="participantes"> Participantes: </label>
                    <input type="number" name="participantes" id="participantes">
                </div>
                <div class="contenido3">
                    <label for="descripcion"> Descripción del evento: </label>
                </div>
                <div>
                    <textarea name="descripcion" id="descripcion"></textarea>
                </div>
                <div class="contenido4">
                    <label for="ubicacion"> Ubicación: </label>
                    <input type="text" name="ubicacion" id="ubicacion">
                </div>
                <div class="contenido5">
                    <label for="fecha"> Fecha del evento: </label>
                    <input type="date" name="fecha" id="fecha">
                </div>
                <div class="contenido4">
                    <label for="hora"> Hora del Evento</label>
                    <input type="text" name="hora" id="hora">
                </div>
                <div id="nuevo_evento">
                    <button id="crear"> Crear evento </button>
                </div>
            </form>
        </div>
    </main>
    <script src="{{url_for('static', filename ='/js/categorias.js')}}"></script>
</body>

</html>